{% extends 'base.html' %}

{% block title %}
Сокращатель
{% endblock %}

{% block css %}
href = "{{url_for('static', filename='css/index.css')}}"
{% endblock %}

{% block body %}

<div class="container">
    <div id="container" class="cont">
        <h1>Сокращатель</h1>
        <form action="/createLink" method="post" id="form" class="form">
            <div class="d-link">
                <label for="link"></label>
                <input type="text" placeholder="Ссылка" name="link" id="link" required>
            </div>
            <div class="d-type">
                <label for="type"></label>
                <select name="type">
                    {% for item in types %}
                    <option value="{{item['id_type']}}">{{item['type']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ISpsevdonim">
                <label for="ispsevd">Псевдоним нужен?</label>
                <input type="checkbox"  name="ispsevd" id="ispsev_input" >
            </div>
            <div class="psevdonim">
                <label for="psevd"></label>
                <input disabled  type="text" placeholder="Псевдоним" name="psevd" id="psev_input" required>
            </div>
            <div class="submit">
                <input type="submit" value="Сократить" id="form_button" />
            </div>
        </form>
        <div class="ghost-div">
            {% for c, mes in get_flashed_messages(True) %}
            {% if(c == "errors")%}
                <p style="color:red">{{mes}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="ghost-div" style="">
            {% for c, mes in get_flashed_messages(True) %}
            {% if(c == "url")%}
                <a href={{mes}}>Перейти по ссылке: {{mes}}</a>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>

<script>
  document.querySelector("#ispsev_input").addEventListener("change", function(e){
    console.log(e.currentTarget.checked)
    document.querySelector("#psev_input").disabled = !e.currentTarget.checked
})


</script>
{% endblock %}